@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="jumbotron center-block">
    <h1 class="text-center">Carteira de Vacinação Online</h1>
    <br />
    <h4 class="text-center">O lugar perfeito para manter aqueles registros de sua adorável carteira de vacinação.</h4>
</div>

<div class="center-block">
    <br />
    <h3 class="text-center">Geralmente Carteiras de Vacinação tendem a:</h3>
    <ul class="list-unstyled text-center">
        <li class=""><h4>Ficarem velhas e amassadas.</h4></li>
        <li class=""><h4>Datadas.</h4></li>
        <li class=""><h4>Você pode perde-lá...</h4></li>
        <li class=""><h4>Ela pode se desfazer depois de um tempo (O quê significa que você está velho também...)</h4></li>
    </ul>
</div>
<br />
<div class="media">
    <div class="media-left img-small-size">
        <img class="media-object" src="https://i0.wp.com/www.portalnovodia.com.br/wp-content/uploads/2017/11/carteira-de-vacinacao.jpg?w=728" alt="carteira_Vacinacao" />
    </div>
    <div class="media-body media-middle">
        <h4 class="media-heading">Por isso faça agora a sua carteira online</h4>
        <p>E esqueça esse item do passado...</p>
    </div>
</div>
