# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
logs
release
debug
desktop.ini
*.sql*
*.sqlite*
*.vs/
obj/*
bin/*
release/*
debug/*
Rotina/*
node_modules/
node_modules/*
*.tmp
*.dbmdl
*.vsp
*.csproj.VisualState.xml
*.suo
*.user
*.vssscc
*.vspscc
*.backup
*.bak
*.backup.*
*.pdb
_ReSharper*
*.resharper
*.sdf
*.vsmdi
*.log
# mstest test results
TestResults
testimpactdata.sdf
*.log
*.Publish.xml
*.[Pp]ublish.xml
*.cache
*.dgml
UpgradeLog.htm
UpgradeLog.XML
_UpgradeReport*
PublishProfiles/
PublishProfiles/.
PublishProfiles/*
PublishProfiles/*.*
TfsBuildCustomization/
TfsBuildCustomization/*
*.orig
*.bak

# ncrunch
*.ncrunchsolution