
@{
    ViewData["Title"] = "Index";
}

<h2 class="title">Pessoas</h2>
<div class="wrapper">
    <div class="table-responsive">
        <table class="table" id="listagem-pessoas">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th class="col-xs-1">Ações</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<a href="@Url.Action("Cadastrar","Pessoa")">Cadastro</a>

@section Scripts {
    <script src="@Url.Content("~/js/Pessoa/Pessoa-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/Pessoa/Pessoa.js")" type="text/javascript"></script>

    <script type="text/x-jsrender" id="listagem-template">
        <tr>
            <td>{{:nome}}</td>
            <td>{{:idade}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Ações <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="@(Url.Action("Cadastrar", "Pessoa"))/{{:id}}">Editar</a></li>
                        <li><a href="#" id="Excluir" data-id="{{:id}}">Excluir</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </script>

    <script type="text/x-jsrender" id="sem-resultado-template">
        <tr>
            <td colspan="100%">
                <div class="alert alert-danger">Nenhum resultado encontrado</div>
            </td>
        </tr>
    </script>
}

